@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400&display=swap');
body {
  margin: 0;
  font-family: 'Bitter', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #260841;
}

code {
  font-family: 'Bitter', serif;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}

.navbar {
  height: 89px;
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  background-color: #260841;
}

.nav-item {
  font-size: 2.5vmin;
  padding-left: 6px;
  font-weight: 500;
}

.nav-item:hover {
  font-size: 2.5vmin;
  padding-left: 6px;
  font-weight: 600;
}

.nav-link{
  color: #fff;
}

.nav-link:hover{
  color: #fff;
}

.navbar-brand{
  color: #fff;
  font-size: 3.5vmin;
  padding-right: 4px;
  font-weight: 600;
}

.navbar-brand:hover {
  color: #fff;
  font-size: 3.5vmin;
  padding-right: 4px;
  font-weight: 600;
}

.first-section {
  min-height: "100%";
  display: "flex";
  align-items: "center";
  overflow: "hidden";
  justify-content: "space-between";
  max-width: "1200px";
  margin: "0px auto";
  flex-direction: "row";
  padding-top: 69px;
}

h1 {
  font-size: 9vmin;
  font-weight: 600;
  color: #fff;
  margin: "0px";
}

p {
  font-size: 3.75vmin;
  color: #fff;
}